# Node environment 
# possible values are: `development` (default) or `production`
# can be used to find out if the app is on a production instance (production) or on a local developer machine (development)
NODE_ENV=development

# API logging level
# possible values are: `error`, `warn`, `info` (default), `debug`
# higher values include all levels below
LOG_LEVEL=debug

# App url(s) which is/are used to make API requests in production and development environment
# possible values are: `string` (specific url) or `array` (multiple urls)
APP_URL=https://app.domain.com
APP_DEV_URL=http://localhost:4200

# API configuration
# port on which the express server will be listening
API_PORT=8081
# timeout for API requests in milliseconds
API_TIMEOUT=30000

# Socket configuration
# port on which the socket server will be listening
SOCKET_PORT=8082
# timout for the socket requests in milliseconds
SOCKET_REQUEST_TIMEOUT=30000

# Database configuration
# location to store the database file at
DB_STORAGE=./database.sqlite

# File upload configuration
# location to store the uploaded files at
FILE_STORAGE=./uploads/
# max upload size of the files in bytes
FILE_MAX_SIZE=5242880